# Using sql Create a Table

In [0]:
%sql
CREATE TABLE datamodeling.default.source_data
(
  order_id INT PRIMARY KEY,
  order_date DATE,
  customer_id INT,
  customer_name VARCHAR(100),
  custumee_email VARCHAR(100),
  product_id INT,
  product_name VARCHAR(100),
  product_category VARCHAR(50),
  quantity INT,
  unit_price DECIMAL(10,2),
  payment_type VARCHAR(50),
  country VARCHAR(50),
  last_updated DATE
)

In [0]:
%sql
-- Initial load 
INSERT INTO datamodeling.default.source_data VALUES
(1001, '2025-07-01', 1, 'Alice Johnson', 'alice@example.com', 501, 'Samsung A45', 'Electronics', 1, 1599.99, 'Credit Card', 'RSA', '2025-07-01'),
(1002, '2025-07-02', 2, 'Dimakatso Malpe', 'dimakatso@example.com', 502, 'iPhone 14', 'Electronics', 2, 2689.99, 'PayPal', 'RSA', '2025-07-02'),
(1003, '2025-07-03', 3, 'Lego Mojapelo', 'lego@example.com', 503, 'PlayStation 5', 'Electronics', 1, 499.99, 'Apple Pay', 'RSA', '2025-07-03')

num_affected_rows,num_inserted_rows
3,3

In [0]:
%sql
SELECT * FROM datamodeling.default.source_data

order_id,order_date,customer_id,customer_name,custumee_email,product_id,product_name,product_category,quantity,unit_price,payment_type,country,last_updated
1001,2025-07-01,1,Alice Johnson,alice@example.com,501,Samsung A45,Electronics,1,1599.99,Credit Card,RSA,2025-07-01
1002,2025-07-02,2,Dimakatso Malpe,dimakatso@example.com,502,iPhone 14,Electronics,2,2689.99,PayPal,RSA,2025-07-02
1003,2025-07-03,3,Lego Mojapelo,lego@example.com,503,PlayStation 5,Electronics,1,499.99,Apple Pay,RSA,2025-07-03

In [0]:
%sql
-- incremental load
INSERT INTO datamodeling.default.source_data VALUES
(1004, '2025-07-04', 4, 'Thando Ndlovu', 'thando@example.com', 504, 'Dell XPS 13', 'Electronics', 1, 1299.99, 'Credit Card', 'RSA', '2025-07-04'),
(1005, '2025-07-05', 5, 'Sipho Mokoena', 'sipho@example.com', 505, 'Nike Air Max', 'Apparel', 2, 299.99, 'PayPal', 'RSA', '2025-07-05'),
(1006, '2025-07-06', 6, 'Karabo Sithole', 'karabo@example.com', 506, 'Samsung TV 55"', 'Electronics', 1, 899.99, 'Credit Card', 'RSA', '2025-07-06'),
(1007, '2025-07-07', 7, 'Boitumelo Dlamini', 'boitumelo@example.com', 507, 'Adidas Hoodie', 'Apparel', 3, 149.99, 'Google Pay', 'RSA', '2025-07-07'),
(1008, '2025-07-08', 8, 'Lehlohonolo Mabuza', 'lehlohonolo@example.com', 508, 'Canon EOS 90D', 'Electronics', 1, 1099.99, 'Credit Card', 'RSA', '2025-07-08'),
(1009, '2025-07-09', 9, 'Naledi Khumalo', 'naledi@example.com', 509, 'Zara Jacket', 'Apparel', 1, 199.99, 'PayPal', 'RSA', '2025-07-09'),
(1010, '2025-07-10', 10, 'Tshepo Mthembu', 'tshepo@example.com', 510, 'MacBook Pro 14"', 'Electronics', 1, 2499.99, 'Apple Pay', 'RSA', '2025-07-10'),
(1011, '2025-07-11', 11, 'Refilwe Nkosi', 'refilwe@example.com', 511, 'iPad Air', 'Electronics', 2, 799.99, 'Google Pay', 'RSA', '2025-07-11'),
(1012, '2025-07-12', 12, 'Mpho Sekhukhune', 'mpho@example.com', 512, 'Reebok Classic', 'Apparel', 1, 119.99, 'Credit Card', 'RSA', '2025-07-12'),
(1013, '2025-07-13', 13, 'Kagiso Motsepe', 'kagiso@example.com', 513, 'GoPro Hero 12', 'Electronics', 1, 499.99, 'PayPal', 'RSA', '2025-07-13'),
(1014, '2025-07-14', 14, 'Zanele Mhlongo', 'zanele@example.com', 514, 'Sony WH-1000XM5', 'Electronics', 1, 399.99, 'Credit Card', 'RSA', '2025-07-14'),
(1015, '2025-07-15', 15, 'Lerato Mashaba', 'lerato@example.com', 515, 'Asics Gel-Kayano', 'Apparel', 2, 249.99, 'Google Pay', 'RSA', '2025-07-15'),
(1016, '2025-07-16', 16, 'Andile Nxumalo', 'andile@example.com', 516, 'Fitbit Versa 4', 'Electronics', 1, 229.99, 'Apple Pay', 'RSA', '2025-07-16'),
(1017, '2025-07-17', 17, 'Nokuthula Shongwe', 'nokuthula@example.com', 517, 'HP Spectre x360', 'Electronics', 1, 1599.99, 'Credit Card', 'RSA', '2025-07-17'),
(1018, '2025-07-18', 18, 'Thabang Zulu', 'thabang@example.com', 518, 'Xbox Series X', 'Electronics', 1, 499.99, 'PayPal', 'RSA', '2025-07-18'),
(1019, '2025-07-19', 19, 'Kelebogile Dube', 'kelebogile@example.com', 519, 'H&M Sweatshirt', 'Apparel', 3, 89.99, 'Google Pay', 'RSA', '2025-07-19'),
(1020, '2025-07-20', 20, 'Sibongile Mazibuko', 'sibongile@example.com', 520, 'Huawei MateBook D15', 'Electronics', 1, 1099.99, 'Credit Card', 'RSA', '2025-07-20')

num_affected_rows,num_inserted_rows
17,17